* { 
    padding: 0;
    margin: 0;
}

body{
    background-color: #0E1014;
    color: #ffffff;
}

h1 {
    font-family: "Poppins", "sans-serif";
    font-size: 64px;
}

h1 span {
    color: #9747FF;
}

a{  
    display: block;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    font-family: "Poppins", "sans-serif";
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
}

p {
    font-family: "Poppins", "sans-serif";
    font-size: 24px;
}